body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace, sans-serif;
  background-color: lightblue;
  height: 100vh;
}

.calculator {
  width: 400px;
  height: 500px;
  border: 10px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
}
.row {
  flex: 1;
  display: flex;
}

.row.buttons {
  margin-top: 15px;
  gap: 10px;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.display {
  flex: 1.5;
  height: 125px;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-align: right;
}

.userInput {
  font-size: 58px;
  text-shadow: 1.3px 1.3px #383838;
  color: white;
  padding: 10px;
  outline: 0px;
  width: 100%;
}

button {
  flex: 1;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  border: none;
}

/*
button[value="0"] {
  flex: 2;
  padding-right: 20px;
}
*/

button:hover {
  opacity: 0.8;
}

button:active {
  transition: 0.4;
  transform: scale(0.9);
}

.number {
  background-color: #ad6faa;
  box-shadow: 0px 10px 0px #612959;
}

.operator {
  background-color: #ad6f6f;
  box-shadow: 0px 10px 0px #612930;
}

.reset,
.delete {
  background-color: rgb(226, 126, 31);
  box-shadow: 0px 10px 0px #bd5214;
}

.operator.active {
  background-color: #31631a;
  box-shadow: 0px 10px 0px #2e7543;
}

button[value="="]:active {
  background-color: #31631a;
  box-shadow: 0px 10px 0px #2e7543;
}
